{%- set component_index = 0 %}
SUIT_Envelope_Tagged:
  suit-authentication-wrapper:
    SuitDigest:
      suit-digest-algorithm-id: cose-alg-sha-256
  suit-manifest:
    suit-manifest-version: 1
    suit-manifest-sequence-number: {{ version }}
    suit-common:
      suit-components:
      - - CAND_IMG
        - 0
{%- if app is defined %}
    {%- set component_index = component_index + 1 %}
    {%- set app_component_index = component_index %}
      - - MEM
        - {{ app['dt'].label2node['cpu'].unit_addr }}
        - {{ get_absolute_address(app['dt'].chosen_nodes['zephyr,code-partition']) }}
        - {{ app['dt'].chosen_nodes['zephyr,code-partition'].regs[0].size }}
{%- endif %}
{%- if hci_rpmsg_subimage is defined %}
    {%- set component_index = component_index + 1 %}
    {%- set hci_rpmsg_subimage_component_index = component_index %}
      - - MEM
        - {{ hci_rpmsg_subimage['dt'].label2node['cpu'].unit_addr }}
        - {{ get_absolute_address(hci_rpmsg_subimage['dt'].chosen_nodes['zephyr,code-partition']) }}
        - {{ hci_rpmsg_subimage['dt'].chosen_nodes['zephyr,code-partition'].regs[0].size }}
{%- endif %}
      suit-shared-sequence:
      - suit-directive-set-component-index: 1
      - suit-directive-override-parameters:
          suit-parameter-vendor-identifier:
            RFC4122_UUID:
              name: nordicsemi.com
          suit-parameter-class-identifier:
            RFC4122_UUID:
              namespace: nordicsemi.com
              name: nRF54H20_sample_app
      - suit-condition-vendor-identifier:
        - suit-send-record-success
        - suit-send-record-failure
        - suit-send-sysinfo-success
        - suit-send-sysinfo-failure
      - suit-condition-class-identifier:
        - suit-send-record-success
        - suit-send-record-failure
        - suit-send-sysinfo-success
        - suit-send-sysinfo-failure
{%-  if app is defined %}
      - suit-directive-set-component-index: {{ app_component_index }}
      - suit-directive-override-parameters:
          suit-parameter-image-digest:
            suit-digest-algorithm-id: cose-alg-sha-256
            suit-digest-bytes:
              file: {{ app['binary'] }}
          suit-parameter-image-size:
            file: {{ app['binary'] }}
{%- endif %}
{%- if hci_rpmsg_subimage is defined %}
      - suit-directive-set-component-index: {{ hci_rpmsg_subimage_component_index }}
      - suit-directive-override-parameters:
          suit-parameter-image-digest:
            suit-digest-algorithm-id: cose-alg-sha-256
            suit-digest-bytes:
              file: {{ hci_rpmsg_subimage['binary'] }}
          suit-parameter-image-size:
            file: {{ hci_rpmsg_subimage['binary'] }}
{%- endif %}
    suit-validate:
{%-  if app is defined %}
    - suit-directive-set-component-index: {{ app_component_index }}
    - suit-condition-image-match:
      - suit-send-record-success
      - suit-send-record-failure
      - suit-send-sysinfo-success
      - suit-send-sysinfo-failure
{%- endif %}
{%-  if hci_rpmsg_subimage is defined %}
    - suit-directive-set-component-index: {{ hci_rpmsg_subimage_component_index }}
    - suit-condition-image-match:
      - suit-send-record-success
      - suit-send-record-failure
      - suit-send-sysinfo-success
      - suit-send-sysinfo-failure
{%- endif %}
    suit-invoke:
{%- if hci_rpmsg_subimage is defined %}
    - suit-directive-set-component-index: {{ hci_rpmsg_subimage_component_index }}
    - suit-directive-invoke:
      - suit-send-record-failure
{%- endif %}
    - suit-directive-set-component-index: {{ app_component_index }}
    - suit-directive-invoke:
      - suit-send-record-failure
    suit-install:
{%- if app is defined %}
    - suit-directive-set-component-index: 0
    - suit-directive-override-parameters:
        suit-parameter-uri: '#{{ app['name'] }}'
        suit-parameter-image-digest:
          suit-digest-algorithm-id: cose-alg-sha-256
          suit-digest-bytes:
            file: {{ app['binary'] }}
    - suit-directive-fetch:
      - suit-send-record-failure
    - suit-condition-image-match:
      - suit-send-record-success
      - suit-send-record-failure
      - suit-send-sysinfo-success
      - suit-send-sysinfo-failure
    - suit-directive-set-component-index: {{ app_component_index }}
    - suit-directive-override-parameters:
        suit-parameter-source-component: 0
    - suit-directive-copy:
      - suit-send-record-failure
    - suit-condition-image-match:
      - suit-send-record-success
      - suit-send-record-failure
      - suit-send-sysinfo-success
      - suit-send-sysinfo-failure
{%- endif %}
{%- if hci_rpmsg_subimage is defined %}
    - suit-directive-set-component-index: 0
    - suit-directive-override-parameters:
        suit-parameter-uri: '#{{ hci_rpmsg_subimage['name'] }}'
        suit-parameter-image-digest:
          suit-digest-algorithm-id: cose-alg-sha-256
          suit-digest-bytes:
            file: {{ hci_rpmsg_subimage['binary'] }}
    - suit-directive-fetch:
      - suit-send-record-failure
    - suit-condition-image-match:
      - suit-send-record-success
      - suit-send-record-failure
      - suit-send-sysinfo-success
      - suit-send-sysinfo-failure
    - suit-directive-set-component-index: {{ hci_rpmsg_subimage_component_index }}
    - suit-directive-override-parameters:
        suit-parameter-source-component: 0
    - suit-directive-copy:
      - suit-send-record-failure
    - suit-condition-image-match:
      - suit-send-record-success
      - suit-send-record-failure
      - suit-send-sysinfo-success
      - suit-send-sysinfo-failure
{%- endif %}
    suit-manifest-component-id:
{%- if app is defined %}
    - INSTLD_MFST
    - RFC4122_UUID:
        namespace: nordicsemi.com
        name: nRF54H20_sample_app
{%- endif %}
  suit-integrated-payloads:
{%- if app is defined %}
    '#{{ app['name'] }}': {{ app['binary'] }}
{%- endif %}
{%- if hci_rpmsg_subimage is defined %}
    '#{{ hci_rpmsg_subimage['name'] }}': {{ hci_rpmsg_subimage['binary'] }}
{%- endif %}
