#
# Copyright (c) 2023 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig SUIT_ENVELOPE
    bool "Create SUIT envelope"
    help
        Enable DFU SUIT envelope creation
    default y if SSF_SUIT_SERVICE_ENABLED && SOC_NRF54H20_CPUAPP

if SUIT_ENVELOPE

config SUIT_ENVELOPE_SIGN
    bool "Sign created SUIT envelope"
    help
        Sign created SUIT envelope by external script
    default n

config SUIT_ENVELOPE_SEQUENCE_NUM
    int "Sequence number of the generated SUIT manifest"
    default 0

config SUIT_ENVELOPE_HIERARCHICAL_MANIFEST
    bool "Create hierarchical manifest"
    select EXPERIMENTAL
    help
        Create hierarchical root manifest with it's dependent sub-manifests
    default y

config SUIT_ENVELOPE_DEFAULT_TEMPLATE
    string "Path to the default envelope template (deprecated)"
    default "${ZEPHYR_SUIT_GENERATOR_MODULE_DIR}/ncs/default_app_rad_cores_envelope.yaml.jinja2" if SOC_NRF54H20_CPUAPP && !SUIT_ENVELOPE_HIERARCHICAL_MANIFEST
    default "${ZEPHYR_SUIT_GENERATOR_MODULE_DIR}/ncs/root_hierarchical_envelope.yaml.jinja2" if SOC_NRF54H20_CPUAPP && SUIT_ENVELOPE_HIERARCHICAL_MANIFEST
    help
      Path to the root template, that is used if the application directory does not
      contain an input root envelope template file.
      You can use either absolute or relative path.
      In case relative path is used, the build system uses PROJECT_BINARY_DIR directory.
      This KConfig is available for backward compatibility and will be removed soon.

config SUIT_ENVELOPE_ROOT_TEMPLATE
    string "Path to the default root envelope template"
    default SUIT_ENVELOPE_DEFAULT_TEMPLATE
    help
      Path to the default root envelope template, that is used if the application directory does not
      contain an input envelope template file.
      You can use either absolute or relative path.
      In case relative path is used, the build system uses PROJECT_BINARY_DIR directory.

if SUIT_ENVELOPE_HIERARCHICAL_MANIFEST

config SUIT_ENVELOPE_APP_TEMPLATE
    string "Path to the default application envelope template"
    default "${ZEPHYR_SUIT_GENERATOR_MODULE_DIR}/ncs/app_envelope.yaml.jinja2"
    help
      Path to the default application envelope template, that is used if the application directory does not
      contain an input application envelope template file.
      You can use either absolute or relative path.
      In case relative path is used, the build system uses PROJECT_BINARY_DIR directory.

config SUIT_ENVELOPE_HCI_RPMSG_SUBIMAGE_TEMPLATE
    string "Path to the default radio envelope template"
    default "${ZEPHYR_SUIT_GENERATOR_MODULE_DIR}/ncs/rad_envelope.yaml.jinja2"
    help
      Path to the default radio envelope template, that is used if the application directory does not
      contain an input radio envelope template file.

config SUIT_ENVELOPE_MULTIPROTOCOL_RPMSG_SUBIMAGE_TEMPLATE
    string "Path to the default multiprotocol radio envelope template"
    default "${ZEPHYR_SUIT_GENERATOR_MODULE_DIR}/ncs/multiprotocol_rad_envelope.yaml.jinja2"
    help
      Path to the default multiprotocol radio envelope template, that is used if the application
      directory does not contain an input radio envelope template file.
      You can use either absolute or relative path.
      In case relative path is used, the build system uses PROJECT_BINARY_DIR directory.

endif # SUIT_ENVELOPE_HIERARCHICAL_MANIFEST

config SUIT_ENVELOPE_EDITABLE_TEMPLATES_LOCATION
    string "Path to the folder with envelope templates"
    default "../../"
    help
      Path to the folder containing editable templates used to create binary envelopes.
      Input templates are created by the build system during first build from the SUIT_ENVELOPE_DEFAULT_TEMPLATE.
      You can use either absolute or relative path.
      In case relative path is used, the build system uses PROJECT_BINARY_DIR directory.

config SUIT_ENVELOPE_SECDOM
    bool "Create SUIT files required by secure domain"
    help
        Create SUIT storage file required by secure domain in case secure domain has been included in the build
    default y if INCLUDE_SECDOM

config SUIT_ENVELOPE_SIGN_SCRIPT
    string "Location of SUIT sign script"
    depends on SUIT_ENVELOPE_SIGN
    help
        Python script called to sing SUIT envelope.
        You can use either absolute or relative path.
        In case relative path is used, the build system uses NRF parent directory.
        Script need to accept two arguments:
        - --input-file <STRING> - location of unsigned envelope in the build system
        - --output-file <STRING> - location of signed envelope to create by script
    default "modules/lib/suit-generator/ncs/sign_script.py"

endif # SUIT_ENVELOPE
