SUIT_Envelope_Tagged:
  suit-authentication-wrapper:
    SuitDigest:
      suit-digest-algorithm-id: cose-alg-sha-256
  suit-manifest:
    suit-manifest-version: 1
    suit-manifest-sequence-number: {{ version }}
    suit-common:
      suit-components:
      - - CAND_MFST
        - 0
      - - INSTLD_MFST
        - RFC4122_UUID:
            namespace: nordicsemi.com
            name: nRF54H20_nordic_top
      suit-shared-sequence:
      - suit-directive-set-component-index: 1
      - suit-directive-override-parameters:
          suit-parameter-vendor-identifier:
            RFC4122_UUID: nordicsemi.com
          suit-parameter-class-identifier:
            RFC4122_UUID:
              namespace: nordicsemi.com
              name: nRF54H20_nordic_top
      - suit-directive-set-component-index: 1
      - suit-condition-vendor-identifier:
        - suit-send-record-success
        - suit-send-record-failure
        - suit-send-sysinfo-success
        - suit-send-sysinfo-failure
      - suit-condition-class-identifier:
        - suit-send-record-success
        - suit-send-record-failure
        - suit-send-sysinfo-success
        - suit-send-sysinfo-failure
      suit-dependencies:
        # Key is the index of suit-components that describe the dependency manifest
        "0": {}
        "1": {}

    suit-install:
    - suit-directive-set-component-index: 0
    - suit-directive-override-parameters:
        suit-parameter-uri: '#top'
    - suit-directive-fetch:
      - suit-send-record-failure
    - suit-condition-dependency-integrity:
      - suit-send-record-success
      - suit-send-record-failure
      - suit-send-sysinfo-success
      - suit-send-sysinfo-failure
    - suit-directive-process-dependency:
      - suit-send-record-success
      - suit-send-record-failure
      - suit-send-sysinfo-success
      - suit-send-sysinfo-failure
    suit-manifest-component-id:
    - INSTLD_MFST
    - RFC4122_UUID:
        namespace: nordicsemi.com
        name: nRF54H20_sample_root
  suit-integrated-dependencies:
    '#top': /home/adsz/forge/ncsdk-25614/sdk-nrf-next/twister-out/nrf54h20dk_nrf54h20_cpuapp/smp_transfer/subsys.suit.smp_transfer.root_gun.v1/zephyr/top.suit

