{# example template - need to be updated #}
{%- if sysctrl is not defined %}
  {# sysctrl domain build as main application #}
  {%- set sysctrl = app %}
{%- endif %}
SUIT_Envelope_Tagged:
  suit-authentication-wrapper:
    SuitDigest:
      suit-digest-algorithm-id: cose-alg-sha-256
  suit-manifest:
    suit-manifest-version: 1
    suit-manifest-sequence-number: {{ version }}
    suit-common:
      suit-components:
      # [0], RAM
      - - MEM
        - {{ sysctrl['dt'].label2node['cpu'].unit_addr }}
        - {{ get_absolute_address(sysctrl['dt'].chosen_nodes['zephyr,flash'], use_offset=False) }}
        - {{ sysctrl['dt'].chosen_nodes['zephyr,flash'].regs[0].size }}
      # [1], MRAM
      - - MEM
        - -1
        - {{ get_absolute_address(sysctrl['dt'].label2node['sysctrl_mram0'], use_offset=False) }}
        - {{ sysctrl['dt'].label2node['sysctrl_mram0'].regs[0].size }}
      # [2], Pseudo-component, used to verify the integrity of te incoming image.
      # It is used as a target component for all fetch operations that download firmware.
      - - CAND_IMG
        - 0
      suit-shared-sequence:
      - suit-directive-set-component-index: [0, 1, 2]
      - suit-directive-override-parameters:
          suit-parameter-image-digest:
            suit-digest-algorithm-id: cose-alg-sha-256
            suit-digest-bytes:
              file: {{ sysctrl['binary'] }}
    suit-validate:
      - suit-directive-set-component-index: 1
      - suit-directive-override-parameters:
          suit-parameter-image-size:
            file: {{ sysctrl['binary'] }}
      - suit-condition-image-match: []
    suit-load:
      - suit-directive-set-component-index: 1
      - suit-directive-override-parameters:
          suit-parameter-image-size:
            file: {{ sysctrl['binary'] }}
      - suit-directive-set-component-index: 0
      - suit-directive-override-parameters:
          suit-parameter-source-component: 1
    suit-invoke:
      - suit-directive-set-component-index: 0
      - suit-directive-override-parameters:
          suit-parameter-image-size:
            file: {{ sysctrl['binary'] }}
      - suit-directive-invoke: []
    suit-payload-fetch:
      - suit-directive-set-component-index: 2
      - suit-directive-override-parameters:
           suit-parameter-uri: '#{{ sysctrl['name'] }}'
      - suit-directive-fetch: []
      - suit-condition-image-match: []
    suit-install:
      - suit-directive-set-component-index: 2
      - suit-directive-override-parameters:
         suit-parameter-uri: '#{{ sysctrl['name'] }}'
      - suit-directive-fetch: []
      - suit-condition-image-match: []
      - suit-directive-set-component-index: 1
      - suit-directive-override-parameters:
          suit-parameter-source-component: 2
      - suit-directive-copy: []
    suit-manifest-component-id:
    - INSTLD_MFST
    - RFC4122_UUID:
        namespace: nordicsemi.com
        name: nRF54H20_sys
  suit-integrated-payloads:
    '#{{ sysctrl['name'] }}': {{ sysctrl['binary'] }}
